body{
  margin: 40px 30px;
  background-color: black;
  color: white;
}

.App{
  text-align: center;
}

.users{
  color: crimson;
}
.user-name{
  text-transform:capitalize;
}
.user-profile{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.movies{
  margin: 80px 40px 20px 40px;
  color: crimson;
}
.movie-profile{
  height: 70%;
  width: 70%;
  object-fit:fill;
}